<div class="d-flex gap-4 justify-content-center m-4 align-items-center">
  <h2>Editar Pedido</h2>
</div>

<% if @order.errors.any? %>
  <div class="alert alert-danger">
    <p>Verifique os seguintes erros:</p>
    <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', order: @order, suppliers: @suppliers, warehouses: @warehouses %>